.login-container {
    height: 100%;
    display: flex;
    gap: 2rem;
}

.login-form-container {
    height: max-content;
    border-radius: 12px;
    width: 560px;
}

.form-container  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-text {
    text-align: center;
}
