@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Beige
$beige-500: #98908B;
$beige-100: #F8F4F0;

// Grey
$grey-900: #201F24;
$grey-500: #696868;
$grey-300: #B3B3B3;
$grey-100: #F2F2F2;

//Secondary color
$secondary-green: #277C78;
$secondary-yellow: #F2CDAC;
$secondary-cyan: #82C9D7;
$secondary-navy: #626070;
$secondary-red: #C94736;
$secondary-purple: #826CB0;

// Other color
$other-purple: #AF81BA;
$other-turquoise: #597C7C;
$other-brown: #93674F;
$other-magenta: #934F6F;
$other-blue: #3F82B2;
$other-navy-grey: #97A0AC;
$other-army-green: #7F9161;
$other-gold: #CAB361;
$other-orange: #BE6C49;

// White:
$white: #FFFFFF;

// Font family
$font-family: 'Public Sans', sans-serif;

// Font size 
$heading-1: 2rem;
$heading-2: 1.25rem;
$heading-3: 1rem;
$heading-4: 0,9375rem;
$heading-5: 0,75rem;

// Font weight
$bold: 700;
$regular: 400;

// Line height
$line-height-120: 120%;
$line-height-150: 150%;

// Spacing

$spacing-500: 2.5rem;
$spacing-400: 2rem;
$spacing-300: 1.5rem;
$spacing-250: 1.25rem;
$spacing-200: 1rem;
$spacing-150: 0.75rem;
$spacing-100: 0.5rem;
$spacing-50: 0.25rem;