.logo-small-container {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 1.5rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}